@font-face {
    font-family: Vazir;
    src: url('./../fonts/Vazir-FD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: VazirBold;
    src: url('./../fonts/Vazir-Bold-FD.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
